body {
  font-family: 'Montserrat', sans-serif; }

.headerIndex {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../img/DSC_0022.jpeg);
  background-size: 230%;
  background-repeat: no-repeat;
  border-image-width: 20%;
  max-width: 100%;
  height: 100vh; }
  .headerIndex .divLogo .logo {
    height: 6rem;
    display: block;
    margin: auto;
    padding-top: 1rem; }
  .headerIndex .menuYpag {
    margin-top: 1.5rem; }
    .headerIndex .menuYpag .navCel .navbar {
      color: #ffe8d6; }
      .headerIndex .menuYpag .navCel .navbar .container-fluid {
        color: #ffe8d6; }
        .headerIndex .menuYpag .navCel .navbar .container-fluid .navbar-toggler {
          color: #ffe8d6; }
          .headerIndex .menuYpag .navCel .navbar .container-fluid .navbar-toggler span {
            color: #ffe8d6; }
        .headerIndex .menuYpag .navCel .navbar .container-fluid .collapse {
          color: #ffe8d6; }
          .headerIndex .menuYpag .navCel .navbar .container-fluid .collapse ul li a {
            color: #ffe8d6; }
  .headerIndex .menuNav {
    display: none; }
  .headerIndex .promo .tit {
    font-size: 1.5rem;
    text-align: center;
    text-shadow: -1px 1px 5px #a5a5a5;
    color: #ffe8d6;
    margin-top: 11rem; }
  .headerIndex .promo .subTit {
    font-size: 1rem;
    text-align: center;
    text-shadow: -1px 1px 5px #a5a5a5;
    color: #ffe8d6;
    margin-top: 1.5rem; }

.mainIndex {
  background-color: #ffe8d6; }
  .mainIndex .backFondo {
    padding-top: 2rem; }
    .mainIndex .backFondo .uno {
      width: 95%;
      margin: auto; }
      .mainIndex .backFondo .uno .tit {
        padding: 1.5rem;
        text-align: center;
        font-size: 1.5rem;
        text-decoration: underline;
        text-shadow: -1px 1px 5px #a5a5a5;
        color: #6b705c; }
      .mainIndex .backFondo .uno .texti {
        margin-top: -1rem;
        margin-right: 0.5rem;
        margin-left: 0.5rem;
        text-align: center;
        padding-bottom: 1rem;
        color: #6b705c; }
  .mainIndex .novedades {
    background-color: #6b705c;
    margin: auto; }
    .mainIndex .novedades h2 {
      padding: 1.5rem;
      text-align: center;
      text-decoration: underline;
      text-shadow: -1px 1px 5px #a5a5a5;
      color: #ffe8d6;
      padding-top: 3rem;
      padding-bottom: 2rem; }
    .mainIndex .novedades div {
      background-color: #6b705c;
      border: none; }
      .mainIndex .novedades div img {
        border-radius: 0;
        width: 98%;
        margin: auto; }
      .mainIndex .novedades div h3 {
        text-align: center;
        color: #ffe8d6;
        font-weight: bold; }
      .mainIndex .novedades div h4 {
        text-align: center;
        color: #ffe8d6;
        font-size: 0.9rem;
        margin-top: 0.8rem;
        margin-bottom: 0.8rem; }
      .mainIndex .novedades div a {
        background-color: #ffe8d6;
        border: none;
        color: #6b705c;
        display: block;
        width: 40%;
        margin: auto; }
  .mainIndex .final {
    padding-bottom: 3rem; }
    .mainIndex .final .tit {
      padding: 1.5rem;
      text-align: center;
      font-size: 1.5rem;
      text-decoration: underline;
      text-shadow: -1px 1px 5px #a5a5a5;
      color: #6b705c; }
    .mainIndex .final .mapa {
      width: 95%;
      display: block;
      margin: auto;
      box-shadow: -5px 1px 5px #a5a58d; }

footer {
  background-color: #f6f3eb;
  box-shadow: -1px 1px 5px #a5a5a5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 7rem;
  font-size: 0.8rem; }
  footer .social {
    justify-content: center;
    margin: 0%;
    padding: 0%; }
    footer .social ul {
      display: flex;
      align-items: center;
      margin: 0%;
      padding: 0%; }
      footer .social ul li {
        list-style: none;
        margin-top: 0.2rem; }
        footer .social ul li img {
          height: 2rem; }
  footer .derechos {
    padding-top: 0.3rem;
    margin: 0%;
    text-align: center;
    font-size: 0.8rem; }

/* MEDIA QUERIES PPAL */
@media screen and (min-width: 768px) {
  /* INDEX */
  header .arr {
    display: none; }
  header .menuYpag {
    display: none; }
  header .menuNav {
    display: contents;
    display: flex;
    width: 100%;
    height: 6rem;
    background-color: #eeebdd;
    box-shadow: -1px 1px 5px #a5a5a5; }
    header .menuNav div {
      flex: 50%; }
      header .menuNav div img {
        height: 4rem;
        margin-left: 3rem;
        margin-top: 1rem; }
    header .menuNav nav {
      flex: 50%;
      margin-top: 2.2rem; }
      header .menuNav nav ul {
        list-style: none;
        display: flex; }
        header .menuNav nav ul li {
          padding: 1rem; }
          header .menuNav nav ul li a {
            text-decoration: none;
            font-family: 'Source Sans Pro', sans-serif;
            font-size: 1.3rem;
            color: #3d3b3c; } }
