
// Variable de colores

$colorPrincipal: #540b0e;
$colorOscuro: #3d3b3c;
$colorRadial: radial-gradient(#f2e8cf, #ddbea9);
$sombra: #a5a5a5;
$clarito: rgba(255, 255, 255, 0.7);
$verdeOscuro: #6b705c;
$verdeClaro: #a5a58d;
$beige: #ffe8d6;
$beigeOscuro: #ddbea9;
$header:rgb(246, 243, 235);
$header2:rgb(238, 235, 221);

